crds:
  enabled: true
replicaCount: ${ replicas }
webhook:
  replicaCount: ${ replicas }
cainjector:
  replicaCount: ${ replicas }

approveSignerNames:
- issuers.cert-manager.io/*
- clusterissuers.cert-manager.io/*
- issuers.ejbca-issuer.keyfactor.com/*
- clusterissuers.ejbca-issuer.keyfactor.com/*
