image:
  registry: docker.io
  repository: traefik
  tag: v3.6.2
  pullPolicy: IfNotPresent
deployment:
  enabled: true
  kind: Deployment
  replicas: 2
ingressClass:
  enabled: true
  isDefaultClass: true
  name: "traefik"
additionalArguments:
  - --serversTransport.insecureSkipVerify=true
gateway:
  enabled: false
api:
  dashboard: false
providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    ingressClass: "traefik"
ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    http3:
      enabled: true
    tls:
      enabled: true
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75
service:
  enabled: true
  type: LoadBalancer
  spec:
    loadBalancerIP: "172.21.8.100"
