agents:
  ha:
    enabled: ${agents_ha_enabled}
apis:
  rest:
    replicaCount: ${rest_replicas}
etcd:
  replicaCount: ${etcd_replicas}
loki:
  enabled: ${loki_enabled}
alloy:
  enabled: ${alloy_enabled}
nats:
  cluster:
    enabled: ${nats_replicas > 1 ? true : false}
    replicas: ${nats_replicas}
storageClass:
  enabled: false
